name: Convert SQLite db to RSS, deploy and notify

on:
  schedule:
    - cron: "15 1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y sqlite3 python3-pip

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install and configure poetry
        run: |
          pip install -U poetry~=1.0
          poetry config virtualenvs.in-project true

      - name: Install Python dependencies
        run: poetry install --no-dev

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Download SQLite database
        run: |
          wget https://github.com/sidbelbase/nepstonks/raw/main/nepstonks.db
          chmod +x nepstonks.db
          mkdir -p dist/rss

      - name: Convert table "stock" to RSS feed
        run: |
          sqlite3 -header -json nepstonks.db "SELECT * FROM stock;" > dist/stocks.json
          cat dist/stocks.json | poetry run python nepse_rss.py -s > dist/rss/stocks.rss

      - name: Convert table "announcement" to RSS feed
        run: |
          sqlite3 -header -json nepstonks.db "SELECT * FROM announcement;" > dist/announcements.json
          cat dist/announcements.json | poetry run python nepse_rss.py -a > dist/rss/announcements.rss

      - name: Upload RSS files as artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/rss/

  deploy:
    needs: convert
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download RSS files as artifact
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist

      - name: Deploy feeds to `gh-pages` branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
